<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>epg</key>
	<dict>
		<key>bg_color</key>
		<string>5C5C5C</string>
		<key>area</key>
		<dict/>
		<key>row</key>
		<dict>
			<key>odd_color</key>
			<string>5C5C5C</string>
			<key>even_color</key>
			<string>3C3C3C</string>
			<key>border_color</key>
			<string>292929</string>
			<key>border_width</key>
			<integer>1</integer>
		</dict>
		<key>timeline</key>
		<dict>
			<key>bg_color</key>
			<string>dd7eaa</string>
			<key>time</key>
			<dict>
				<key>bg_color</key>
				<string>f51c5c</string>
				<key>shadow_color</key>
				<string>000000</string>
				<key>color</key>
				<string>ffffff</string>
			</dict>
		</dict>
		<key>cell</key>
		<dict>
			<key>padding</key>
			<integer>3</integer>
			<key>marginVertical</key>
			<integer>0</integer>
			<key>state</key>
			<dict>
				<key>running</key>
				<dict>
					<key>favorite_image</key>
					<string>epg_cell_favorite</string>
					<key>alarm_image</key>
					<string>EPGAlarmSelected</string>
					<key>title</key>
					<dict>
						<key>point</key>
						<string>{3,9}</string>
						<key>color</key>
						<string>000000</string>
						<key>shadow_color</key>
						<string>ffffff</string>
						<key>shadow_offset_y</key>
						<integer>1</integer>
						<key>font</key>
						<string>HelveticaNeue:14</string>
					</dict>
					<key>subtitle</key>
					<dict>
						<key>point</key>
						<string>{3,29}</string>
						<key>color</key>
						<string>333333</string>
						<key>shadow_color</key>
						<string></string>
						<key>font</key>
						<string>HelveticaNeue:10</string>
					</dict>
				</dict>
				<key>highlighted</key>
				<dict>
					<key>alarm_image</key>
					<string>EPGAlarmHighlighted</string>
					<key>favorite_image</key>
					<string>epg_cell_favorite</string>
					<key>title</key>
					<dict>
						<key>point</key>
						<string>{3,9}</string>
						<key>color</key>
						<string>000000</string>
						<key>shadow_color</key>
						<string>ffffff</string>
						<key>shadow_offset_y</key>
						<integer>1</integer>
						<key>font</key>
						<string>HelveticaNeue:14</string>
					</dict>
					<key>subtitle</key>
					<dict>
						<key>point</key>
						<string>{3,29}</string>
						<key>color</key>
						<string>333333</string>
						<key>shadow_color</key>
						<string></string>
						<key>font</key>
						<string>HelveticaNeue:10</string>
					</dict>
				</dict>
				<key>favorite</key>
				<dict>
					<key>alarm_image</key>
					<string>EPGAlarm</string>
					<key>favorite_image</key>
					<string>epg_cell_favorite</string>
					<key>title</key>
					<dict>
						<key>point</key>
						<string>{3,9}</string>
						<key>color</key>
						<string>000000</string>
						<key>shadow_color</key>
						<string>ffffff</string>
						<key>shadow_offset_y</key>
						<integer>-1</integer>
						<key>font</key>
						<string>HelveticaNeue:14</string>
					</dict>
					<key>subtitle</key>
					<dict>
						<key>point</key>
						<string>{3,29}</string>
						<key>color</key>
						<string>333333</string>
						<key>shadow_color</key>
						<string></string>
						<key>font</key>
						<string>HelveticaNeue:10</string>
					</dict>
				</dict>
				<key>normal</key>
				<dict>
					<key>alarm_image</key>
					<string>EPGAlarm</string>
					<key>favorite_image</key>
					<string>epg_cell_favorite</string>
					<key>subtitle</key>
					<dict>
						<key>point</key>
						<string>{3,29}</string>
						<key>color</key>
						<string>333333</string>
						<key>shadow_color</key>
						<string></string>
						<key>font</key>
						<string>HelveticaNeue:10</string>
					</dict>
					<key>title</key>
					<dict>
						<key>point</key>
						<string>{3,9}</string>
						<key>color</key>
						<string>000000</string>
						<key>shadow_color</key>
						<string>ffffff</string>
						<key>shadow_offset_y</key>
						<integer>1</integer>
						<key>font</key>
						<string>HelveticaNeue:14</string>
					</dict>
				</dict>
			</dict>
			<key>activity</key>
			<dict>
				<key>text_color</key>
				<string>ffffff</string>
				<key>font</key>
				<string>b:10</string>
				<key>image</key>
				<string>epg_cell_activities</string>
			</dict>
		</dict>
	</dict>
	<key>layout</key>
	<dict>
		<key>tabBar</key>
		<array>
			<dict>
				<key>controller</key>
				<string>EventsEPGViewController</string>
				<key>inNavigationController</key>
				<true/>
				<key>navBarStyle</key>
				<integer>1</integer>
				<key>title</key>
				<string>EPG</string>
			</dict>
			<dict>
				<key>controller</key>
				<string>GenresViewController</string>
				<key>inNavigationController</key>
				<true/>
				<key>navBarStyle</key>
				<integer>1</integer>
				<key>title</key>
				<string>Genres</string>
			</dict>
		</array>
	</dict>
</dict>
</plist>
